.main-form-options{
  margin-top: 50px;
}

.form-check {
  display: inline-block;
  margin-right: 30px;
}

.convert-btn{
  display: block;
  margin-top: 50px;
}

.main-form-options{
  align-items: center;
  display: flex;
}
